.DS_Store
*.zip
.idea/
target/

md_vega_mm_2023_spring/

data/

__pycache__
.pytest_cache/
venv

ds_problem.pdf

*.csv
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.ini
*.lot
*.lof
*.pyc
*.pygtex
*.pygstyle

_minted-*